<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="extent_report.ExtentListeners"></listener>
	</listeners>

	<test name="Login" enabled="false">
		<classes>
			<class name="makemytrip_testcases.Login_Test" />
		</classes>
	</test>

	<test name="Search_Item_Test" enabled="false">
		<classes>
			<class name="makemytrip_testcases.Search_Item_Test" />
		</classes>
	</test>

	<test name="HomePage_Test" enabled="true">
		<classes>
			<class name="makemytrip_testcases.Home_Test" />
		</classes>
	</test>
</suite>